/* 
    Document   : avoidcss
    Created on : Apr 11, 2012, 10:36:49 AM
    Author     : Shaishav
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.avoidcss
{
    border: 0;
    
}
